.flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    padding: 5px 10px;
    border: 2px solid orangered;
    border-radius: 5px;
    cursor: pointer;
}
.my1{
    margin: 5px 0;
}
.my2{
    margin: 26px 0;
}
.text-center{
    text-align: center;
}